.event{
  height: 922px;
  background-image: url("../img/headway-F2KRf_QfCqw-unsplash.png");
  /*filter: blur(4px);*/
  /*-webkit-filter: blur(4px);*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



.event_items_item p {
  text-align: left;
  font: normal normal normal 20px/30px Poppins;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}

.event_header h2 {
  text-align: center;
  font: normal normal 300 48px/70px Poppins;
  letter-spacing: 1.44px;
  color: #FFFFFF;
  text-transform: uppercase;
  opacity: 1;
}

.event_item{
  text-align: center;
}

.event_button {
  background: transparent linear-gradient(100deg, #FF4B2B 0%, #FF416C 100%) 0% 0% no-repeat padding-box;
  border-radius: 9px;
  opacity: 1;
  width: 420px;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
}

.event_button span{
  text-align: left;
  font: normal normal normal 28px/42px Poppins;
  letter-spacing: 0px;
  color: #FFFFFF;
  text-transform: uppercase;
  opacity: 1;
}

.event_day{
  text-align: center;
  font: normal normal normal 36px/70px Poppins;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}
